[submodule "lib/gl-rs"]
	path = lib/gl-rs
	url = https://github.com/bjz/gl-rs.git
[submodule "lib/glfw-rs"]
	path = lib/glfw-rs
	url = https://github.com/bjz/glfw-rs.git
[submodule "lib/nprocgen"]
	path = lib/nprocgen
	url = https://github.com/sebcrozet/nprocgen.git
[submodule "lib/nalgebra"]
	path = lib/nalgebra
	url = https://github.com/sebcrozet/nalgebra.git
